body {
    background: url(./img/wood-textures/WoodPattern-1.jpg) repeat fixed;
}

#wrapper {
    margin: 0 20px;
    line-height: 1.4;
    font-family: $bodyfont;
    width: 1200px;
    margin: auto;
}

#header {
    @include clearfix;
    color: $headerfontcolor;
    margin-top: 10px;
    a {
        color: $headerfontcolor;
    }
    #branding {
        @include clearfix;
        float: left;
        div {
            float: left;
        }
        #site-title > a {
            margin-left: 50px;
            font: {
                family: $headerfont;
                size: 2rem;
            };
        }
    }
    #menu {
        float: right;
        font-size: 12px;
        text-align: right;
        ul > li {
            margin: 5px 0;
        }
    }
}

#container {
    @include clearfix;
}

#content {
    float: left;
    padding: 10px 35px;
    background-color: #FFF;
    width: 900px;
    @include box-shadow(#333333 0px 0px 30px);
    @include border-radius(20px);
    .entry-content {
        margin: 0 50px;
    }
}

#sidebar {
    width: 180px;
    padding: 10px;
    float: left;
    background-color: goldenrod;
    margin-left: 30px;
}

#comments {
    width: 550px;
    margin: 25px auto;
    background-color: $commentbgcolor;
    color: lightblue;
    padding: 10px;
    @include border-radius(20px);
    border: 3px solid black;
    .comment-form-comment {
        text-align: center;
    }
    .form-allowed-tags {
        font-size: 11px;
    }
}