// FONT FAMILIES
$bodyfont: $verdana;
$headerfont: $georgia;

$roboto : 'Roboto', sans-serif;
$rosario : 'Rosario', sans-serif;

// COLORS
$fontcolor : #333;
$bgcolor : #777;
$commentbgcolor : #302013;
$headerfontcolor: #FFF;