// FONT FAMILIES

$roboto : 'Roboto', sans-serif;
$rosario : 'Rosario', sans-serif;

// $bodyfont: $verdana;
// $headerfont: $georgia;

$bodyfont: $roboto;
$headerfont: $rosario;


// COLORS
$fontcolor : #333;
$bgcolor : #777;
$commentbgcolor : #302013;
$headerfontcolor: #FFF;